/* styles go here */
.form_field {
  display: block;
  margin: 10px 0;
}

.form_group {
  margin: 20px 0;
  padding-top: -10px;
  padding-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
}

legend {
  margin-top: -10px;
  margin-bottom: -10px;
}

form {
  margin-top: -4px;
}

.personal_info {
  margin-top: 12px;
}
